.about {
    padding: 0 $grid-padding rhythm(1, 16px) $grid-padding;
    text-align: center;
    p {
        &:last-of-type {
            margin-bottom: rhythm(2, 16px);
        }
    }
    @include at-breakpoint($break-to-medium-large) {
        @include span-columns(5, 24);
        padding: 0 $grid-padding;
        height: 100%;
    }
}

.logo{
    margin: rhythm(1, 16px) 0;
}