$sites-layout: smart;
$sites-sprite-dimensions: true;
@import "sites/*.png";
@include all-sites-sprites;

.carousel {
    @include at-breakpoint($break-to-medium-large) {
        @include span-columns(19 omega, 24);
        height: 100%;
        overflow: hidden;
    }
}

.hero-site {
    padding: rhythm(1, 16px) $grid-padding;
    @include span-columns(12, 12);
    @include at-breakpoint($break-to-medium-large) {
        @include span-columns(7, 24);
        margin: 0;
        margin-right: 0;
        padding: rhythm(6, 16px) $grid-padding 0 $grid-padding;
        height: 100%;
        // @include transition(all 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940));
        // @include transition(opacity 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.94s, visibility 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.94s, padding 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.94s);
    }
}

.hero-site.ng-hide-add, .hero-site.ng-hide-remove {
    @include transition(all 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940));
    display: block !important;
    opacity: 1;
}
.hero-site.ng-hide {
    // opacity: 0;
    @include translate3d(-100%, 0, 0);
}

.hero-text {
    text-align: center;
}

.hero-image {
    margin: 0 auto;
}
.left-arrow {
    display: none;
    @include at-breakpoint($break-to-medium-large) {
        display: block;
        @include arrows();
        left: 45%;
    }
}
.right-arrow {
    display: none;
    @include at-breakpoint($break-to-medium-large) {
        display: block;
        @include arrows();
        right: 40%;
    }
}