.left-arrow {
    display: none;
    @include at-breakpoint($break-to-medium-large) {
        display: block;
        @include arrows();
        left: 50%;
        @include rotate(45deg);
        background: transparent;
        border-left: .07em solid rgba($white, .75);
        border-bottom: .07em solid rgba($white, .75);
        color: rgba($white, .45);
        &:hover {
            cursor: pointer;
            border-left: .15em solid rgba($white, .95);
            border-bottom: .15em solid rgba($white, .95);
        }
    }
}
.right-arrow {
    display: none;
    @include at-breakpoint($break-to-medium-large) {
        display: block;
        @include arrows();
        right: 35%;
        @include rotate(45deg);
        background: transparent;
        border-right: .07em solid rgba($white, .75);
        border-top: .07em solid rgba($white, .75);
        &:hover {
            cursor: pointer;
            border-right: .15em solid rgba($white, .95);
            border-top: .15em solid rgba($white, .95);
        }
    }
}