.header {
    text-align: center;
    @include adjust-font-size-to(22px);
    color: $white;
    @include text-shadow(rgba($black, .5) 0 0 3px);
    @include background-image(linear-gradient(rgba($black, .85), rgba($black, .9)));
    @include box-shadow(rgba($black, .15) 0 .2em .5em);
    border-bottom: .06em solid $black;
}