$sites-layout: smart;
$sites-sprite-dimensions: true;
@import "sites/*.png";
@include all-sites-sprites;

.hero-site {
    padding: rhythm(1, 16px) $grid-padding;
    @include span-columns(12, 12);
    border-bottom: .1em solid rgba($black, .45);
    @include at-breakpoint($break-to-medium-large) {
        @include span-columns(6, 19);
        display: block;
        margin: 0;
        margin-right: 0;
        padding: rhythm(3, 16px) $grid-padding 0 $grid-padding;
        border-bottom: none;
        &:last-of-type{
            padding-bottom: rhythm(1, 16px);
        }
    }
}
.tags {
    margin: rhythm(1, 12px) 0;
    text-align: center;
    font-style: italic;
    @extend %black-text;
    @include adjust-font-size-to(12px);
    min-height: rhythm(3, 16px);
    @include at-breakpoint($break-to-medium-large) {
        color: $white-text;
    }
}
.hero-text {
    text-align: center;
    color: rgba($black, .75);
    @include at-breakpoint($break-to-medium-large) {
        color: rgba($white, .80);
    }
}

.hero-image {
    margin: 0 auto;
    @include at-breakpoint($break-to-medium-large) {
        opacity: 0.8;
    }
}