%responsive-trigger {
    &:after {
        content: "phone";
        //this should be display:none, but the position:absolute hack must remain until Chrome fixes its bug with getComputedStyle
        display: block;
        position: absolute;
        top: 0;
        left: -1000px;
        @include at-breakpoint($break-to-medium) {
            content: "tablet";
        }
        @include at-breakpoint($break-to-medium-large) {
            content: "small-desktop"
        }
        @include at-breakpoint($break-to-large) {
            content: "large-desktop"
        }
    }
}

%button-about {
    display: block;
    margin-top: rhythm(2, 16px);
}
%button {
    text-decoration: none;
    text-align: center;
    border: .1em solid rgba($black, .5);
    border-radius: .25em;
    padding: rhythm(.5, 16px) $grid-padding;
    @include box-shadow(.06em .1em  0 0 rgba($white, .1) inset);
}
%button-green {
    @include background-image(linear-gradient(rgba($green, .25), rgba($green, .75)));
    @extend %black-text;
    @include at-breakpoint($break-to-medium-large) {
        color: rgba($white, .80);
        border: .1em solid rgba($black, .95);
        @include background-image(linear-gradient(rgba($green, .75), darken(rgba($green, .95), 15%)) );
        &:hover {
            @include background-image(linear-gradient(rgba($green, .95), darken(rgba($green, 1), 20%)) );
        }
    }
}
%button-grey {
    @include background-image(linear-gradient(rgba($black, .25), rgba($black, .75)));
    @extend %t-small;
    @extend %white-text;
    @include at-breakpoint($break-to-medium-large) {
        color: rgba($white, .80);
        &:hover {
            @include background-image(linear-gradient(rgba($black, .35), rgba($black, .85)));
        }
    }
}

//for layout:
%button-carousel {
    @include span-columns(8, 12);
    @include squish(2,2);
    margin-top: rhythm(.5, 16px);
    margin-bottom: rhythm(.5, 16px);
    padding: rhythm(.25, 16px);
    @include at-breakpoint($break-to-medium-large) {
        @include span-columns(5, 7);
        @include squish(4,4);
    }
}

// %arrows {
// @mixin arrows() {
//     position: absolute;
//     bottom: rhythm(1, 16px);
//     width: $column-width;
//     height: rhythm(2.7, 16px);
// }